
body{
    font-size: 16px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #232f3e;
    
}
.footer__list{
    margin-top: 15px;
    display: flex;
    margin-left: 30px;
}
.footer__list > ul{
    list-style: none;
    color: white;
    margin-top: 10px;
}

.footer__end{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}