.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    background-color: white;
    z-index: 1;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}

.product:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.5s ease-in-out;
    
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
    
}

.product__rating{
    display: flex;
}
.product__image > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
 .product__submit > button{
    background: #f0c86c;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}
.product__price{
    margin-top: 5px;
}